* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  background-color: rgb(160, 160, 160);
}

.App {
  width: 800px;
}

.post {
  padding: 15px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  border: 1px solid greenyellow;
  background-color: white;
}

.post__content {}